body {
	font-family: Microsoft YaHei;font-size: 14px;color:#FFFFFF;
}
.all{
	margin: auto;border:1px solid #b4c8d2;background:url(../images/back.jpg);width: 80%;margin-left: 10%;
}
.main:hover{
	color: #236B8E;background-color: #fff;
}
.main:link{
	color: #fff;text-decoration:none;
}
.r1_news a:link{
	color: #236B8E;text-decoration:none;font-weight: bold;
}
.r1_news a:hover{
	font-weight: bold;
}
.r1_news a:visited{
	color:#236B8E;
}
.cw2 a:link{
	color:#fff;text-decoration:none;
}
.cw2 a:hover{
	text-decoration: underline;
}
.cw2 a:visited{
	color:#fff;
}
.container{
	margin:0 auto;overflow: hidden;
}
.head{
	height: 100px;overflow: hidden;background: rgba(255,255,255, 0.9);
}
.logo{
	 float: left;width:8%;margin-left: 5%;font-size: 60px;color:  #236B8E;margin-top: 5px;
}
.logo1{
	height: 120px;float: left;width:50%;margin-top: 15px;
}
.exit a:link{
	color:#236B8E;text-decoration:none;
}
.exit a:visited{
	color:#236B8E;
}
.exit{
	float: right;width: 15%;color: #236B8E;margin-top: 6%;
}
.person{
	width:20%;float:left;
}
.wen{
	width: 100%;height:100px;background: rgba(255,255,255, 0.8);overflow: hidden;border:1px solid #fff;
}
.sid{
	width: 100%;color: #236B8E;font-size: 13px;height: 30px;margin-left: 15px;margin-top: 5px;
}
.main{
	width: 100%;background: #90cae2;font-size: 22px;text-align: center;height: 60px;float: left;color: #fff;
}
.mainpic{
	width: 30%;float: left;overflow: hidden;margin-top: 3%;
}
.maintext{
	width: 50%;float:left;margin-top: 10px;
}
.down{
	background: #CDCDCD;color:#236B8E;height: 20px;font-size: 10px;text-align: center;line-height:20px;
}
.right{
	width: 79.7%;float:left;color: #236B8E;
}
.xuan{
	width: 80%;margin-left: 10%;float: left;margin-top: 5%;background: rgba(255,255,255, 0.6);
}
.rpic{
	width: 80%;float: left;margin-left: 6%;margin-top: 30px;
}
.next{
	width: 100%;float: left;margin-top: 30px;
}
.r1 a:link{
	color:#236B8E;text-decoration:none;
}
.r1 a:hover{
	text-decoration: underline;
}
.r1 a:visited{
	color:#236B8E;
}
.r1{
	width: 20%;float: left;margin-left: 10%;margin-bottom: 40px;
}
.r1_heng{
	width: 100%;float: left;height: 1px;background:  #236B8E;margin-top: 2px;
}
.r1_news{
	font-size: 15px;
}
.r1_word{
	width: 100%;float: left;margin-top: 5px;
}
.mark{
	width: 5%;float: left;margin-right: 5px;font-size: 12px;
}
.word{
	width: 90%;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.word1{
	width: 50%;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.wp{
	width: 30%;float: right;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.todayclass{
	width: 100%;float: left;
}
.classwen{
	width: 100%;float: left;height: 30px;background: rgba(0,0,0, 0.6);padding-top: 10px;
}
.cw1{
	width: 80%;float: left;color:  #fff;text-align: center;font-size: 15px;font-weight: bold;
}
.cw2{
	width: 20%;float: left;font-size: 12px;
}
.c1{
	width: 100%;background: rgba(233,16,16, 0.6);color: #fff;height: 30px;float: left;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c2{
	width: 100%;background: rgba(57,233,16, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c3{
	width: 100%;background: rgba(148,39,205, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.message{
	width: 100%;float: left;background: rgba(0,0,0, 0.6);height: 150px;
}
.mewen{
	height: 20px;text-align: center;padding-top: 10px;font-weight: bold;font-size: 15px;
}
.jume{
	width: 90%;margin-left: 5%;margin-top: 10px;
}