body {
	font-family: Microsoft YaHei;font-size: 14px;color:#FFFFFF;
}
.all{
	margin: auto;border:1px solid #b4c8d2;background:url(../images/back.jpg);width: 80%;margin-left: 10%;
}
.main:hover{
	color: #236B8E;background-color: #fff;
}
.main:link{
	color: #fff;text-decoration:none;
}
.r1_news a:link{
	color: #236B8E;text-decoration:none;font-weight: bold;
}
.r1_news a:hover{
	font-weight: bold;
}
.r1_news a:visited{
	color:#236B8E;
}

.l_title a:link{
	text-decoration: none;color: #236B8E;
}
.l_title a:hover{
	text-decoration: underline;
}
.l_title a:visited{
	color: #236B8E;
}
.cw2 a:link{
	color:#fff;text-decoration:none;
}
.cw2 a:hover{
	text-decoration: underline;
}
.cw2 a:visited{
	color:#fff;
}
.exit a:link{
	color:#236B8E;text-decoration:none;
}
.exit a:visited{
	color:#236B8E;
}
.container{
	margin:0 auto;overflow: hidden;
}
.head{
	height: 100px;overflow: hidden;background: rgba(255,255,255, 0.9);
}
.logo{
	 float: left;width:8%;margin-left: 5%;font-size: 60px;color:  #236B8E;margin-top: 5px;
}
.logo1{
	height: 120px;float: left;width:50%;margin-top: 15px;
}
.exit{
	float: right;width: 15%;color: #236B8E;margin-top: 6%;
}
.person{
	width:20%;float:left;
}
.wen{
	width: 100%;height:120px;background: rgba(255,255,255, 0.8);overflow: hidden;border:1px solid #fff;float: left;padding-top: 20px;
}
.sid{
	width: 100%;color: #236B8E;font-size: 13px;height: 30px;margin-left: 15px;margin-top: 5px;float: left;
}
.mewen a:link{
	color:#fff;text-decoration:none;
}
.mewen a:hover{
	text-decoration: underline;
}
.mewen a:visited{
	color:#fff;
}
.mewen{
	width: 100%;background: rgba(0,0,0, 0.6);height: 35px;float: left;color: #fff;text-align: center;font-size: 18px;padding-top: 7px;
}
.main{
	width: 100%;background: #90cae2;font-size: 22px;text-align: center;height: 60px;float: left;color: #fff;
}
.mainpic{
	width: 30%;float: left;overflow: hidden;margin-top: 3%;
}
.maintext{
	width: 50%;float:left;margin-top: 10px;
}
.down{
	background: #CDCDCD;color:#236B8E;height: 20px;font-size: 10px;text-align: center;line-height:20px;
}
.todayclass{
	width: 100%;float: left;
}
.classwen{
	width: 100%;float: left;height: 30px;background: rgba(0,0,0, 0.6);padding-top: 10px;
}
.cw1{
	width: 80%;float: left;color:  #fff;text-align: center;font-size: 15px;font-weight: bold;
}
.cw2{
	width: 20%;float: left;font-size: 12px;
}
.c1{
	width: 100%;background: rgba(233,16,16, 0.6);color: #fff;height: 30px;float: left;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c2{
	width: 100%;background: rgba(57,233,16, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c3{
	width: 100%;background: rgba(148,39,205, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.center{
	width: 70%;margin-left: 5%;float: left;height: 500px;margin-top: 5%;
   overflow: hidden;
}
.c_left{
	width: 35%;;height: 500px;float: left;
}
.l_title{
	width: 100%;float:left;font-size: 14px;padding-left: 4px;color: #236B8E;margin-bottom: 10%;
}
.l_all{
	width: 92%;float: left;padding-left: 8%;padding-top: 5%;background: rgba(255,255,255, 0.6);border: 2px solid #236B8E;
}
.coursename{
	width: 100%;height: 30px;color: #236B8E;font-size: 14px;
}
.up_right{
	width: 100%;float: left;margin-top: 20%;
}
.b1{
	height: 40px;text-align: center;width: 100%;color: #000;font-size: 15px;margin-bottom: 1px;
}
.c_right{
	width: 50%;margin-left: 10%;background: rgba(255,255,255, 0.8);height: 450px;float: left;
	position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;  
   overflow: hidden;
}
.r_title{
	width: 100%;float: left;height: 30px;background: #46576f;text-align: center;line-height: 30px;
}
.r_all{
	width: 100%;float: left;overflow-y:scroll;height: 380px;
}
.person1{
	width: 100%;float: left;
}
.one{
	width: 30%;padding-left: 5%;height: 30px;font-size: 16px;color: #854643;padding-top: 10px;float: left;
}
.two{
	width: 20%;padding-left: 10%;height: 30px;font-size: 16px;color: #854643;padding-top: 10px;float: left;
}
.three{
	width: 20%;padding-left: 10%;height: 20px;float: left;margin-top: 10px;
}
.foot{
	position:absolute;bottom:0px;width: 100%;height: 40px;text-align: center;
}
.sub{
	height: 35px;border: 1px solid #46576f;background: #46576f;width: 60px;color: #fff;
}