body {
	font-family: Microsoft YaHei;font-size: 14px;color:#FFFFFF;
}
.all{
	margin: auto;border:1px solid #b4c8d2;background:url(../images/back.jpg);width: 80%;margin-left: 10%;background-repeat: repeat;
}
.main:hover{
	color: #236B8E;background-color: #fff;
}
.main:link{
	color: #fff;text-decoration:none;
}
.exit a:link{
	color:#236B8E;text-decoration:none;
}
.exit a:visited{
	color:#236B8E;
}
.cw2 a:link{
	color:#fff;text-decoration:none;
}
.cw2 a:hover{
	text-decoration: underline;
}
.cw2 a:visited{
	color:#fff;
}
.container{
	margin:0 auto;overflow: hidden;
}
.head{
	height: 100px;overflow: hidden;background: rgba(255,255,255, 0.9);
}
.logo{
	 float: left;width:8%;margin-left: 5%;font-size: 60px;color:  #236B8E;margin-top: 5px;
}
.logo1{
	height: 120px;float: left;width:50%;margin-top: 15px;
}
.exit{
	float: right;width: 15%;color: #236B8E;margin-top: 6%;
}
.person{
	width:20%;float:left;
}
.wen{
	width: 100%;height:100px;background: rgba(255,255,255, 0.8);overflow: hidden;border:1px solid #fff;
}
.sid{
	width: 100%;color: #236B8E;font-size: 13px;height: 30px;margin-left: 15px;margin-top: 5px;
}
.main{
	width: 100%;background: #90cae2;font-size: 22px;text-align: center;height: 60px;float: left;color: #fff;
}
.mainpic{
	width: 30%;float: left;overflow: hidden;margin-top: 3%;
}
.maintext{
	width: 50%;float:left;margin-top: 10px;
}
.down{
	background: #CDCDCD;color:#236B8E;height: 20px;font-size: 10px;text-align: center;line-height:20px;
}
.mewen1 a:link{
	color:#fff;text-decoration:none;
}
.mewen1 a:hover{
	text-decoration: underline;
}
.mewen1 a:visited{
	color:#fff;
}
.mewen1{
	width: 100%;background: rgba(0,0,0, 0.6);height: 35px;float: left;color: #fff;text-align: center;font-size: 18px;padding-top: 7px;
}
.todayclass{
	width: 100%;float: left;
}
.classwen{
	width: 100%;float: left;height: 30px;background: rgba(0,0,0, 0.6);padding-top: 10px;
}
.cw1{
	width: 80%;float: left;color:  #fff;text-align: center;font-size: 15px;font-weight: bold;
}
.cw2{
	width: 20%;float: left;font-size: 12px;
}
.c1{
	width: 100%;background: rgba(233,16,16, 0.6);color: #fff;height: 30px;float: left;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c2{
	width: 100%;background: rgba(57,233,16, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c3{
	width: 100%;background: rgba(148,39,205, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.message{
	width: 100%;float: left;background: rgba(0,0,0, 0.6);height: 150px;
}
.mewen{
	height: 20px;text-align: center;padding-top: 10px;font-weight: bold;font-size: 15px;
}
.jume{
	width: 90%;margin-left: 5%;margin-top: 10px;
}
.center{
	width: 60%;float: left;margin-left: 10%;background: rgba(255,255,255, 0.8);margin-top: 5%;
	position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.title{
	width: 100%;text-align: center;font-size: 17px;color: #000;height: 50px;line-height: 50px;
}
.classt{
	width: 100%;text-align: center;font-size: 17px;color: #000;
}
.jie{
	height: 45px;
}
.day{
	width: 13%;padding-top: 5px;padding-bottom: 10px;
}
.day1{
	width: 9%;padding-top: 5px;padding-bottom: 10px;
}
.ju{
	font-size: 15px;background: #dd7564;color: #fff;position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}