body {
	font-family: Microsoft YaHei;font-size: 14px;color:#FFFFFF;
}
.all{
	margin: auto;border:1px solid #b4c8d2;background:url(../images/back.jpg);width: 80%;margin-left: 10%;background-repeat: repeat;
}
.main:hover{
	color: #236B8E;background-color: #fff;
}
.main:link{
	color: #fff;text-decoration:none;
}
.exit a:link{
	color:#236B8E;text-decoration:none;
}
.exit a:visited{
	color:#236B8E;
}
.cw2 a:link{
	color:#fff;text-decoration:none;
}
.cw2 a:hover{
	text-decoration: underline;
}
.cw2 a:visited{
	color:#fff;
}
.container{
	margin:0 auto;overflow: hidden;
}
.head{
	height: 100px;overflow: hidden;background: rgba(255,255,255, 0.9);
}
.logo{
	 float: left;width:8%;margin-left: 5%;font-size: 60px;color:  #236B8E;margin-top: 5px;
}
.logo1{
	height: 120px;float: left;width:50%;margin-top: 15px;
}
.exit{
	float: right;width: 15%;color: #236B8E;margin-top: 6%;
}
.person{
	width:20%;float:left;
}
.wen{
	width: 100%;height:100px;background: rgba(255,255,255, 0.8);overflow: hidden;border:1px solid #fff;
}
.sid{
	width: 100%;color: #236B8E;font-size: 13px;height: 30px;margin-left: 15px;margin-top: 5px;
}
.main{
	width: 100%;background: #90cae2;font-size: 22px;text-align: center;height: 60px;float: left;color: #fff;
}
.mainpic{
	width: 30%;float: left;overflow: hidden;margin-top: 3%;
}
.maintext{
	width: 50%;float:left;margin-top: 10px;
}
.down{
	background: #CDCDCD;color:#236B8E;height: 20px;font-size: 10px;text-align: center;line-height:20px;
}
.todayclass{
	width: 100%;float: left;
}
.classwen{
	width: 100%;float: left;height: 30px;background: rgba(0,0,0, 0.6);padding-top: 10px;
}
.cw1{
	width: 80%;float: left;color:  #fff;text-align: center;font-size: 15px;font-weight: bold;
}
.cw2{
	width: 20%;float: left;font-size: 12px;
}
.c1{
	width: 100%;background: rgba(233,16,16, 0.6);color: #fff;height: 30px;float: left;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c2{
	width: 100%;background: rgba(57,233,16, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.c3{
	width: 100%;background: rgba(148,39,205, 0.6);color: #fff;float: left;height: 30px;padding-top: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.message{
	width: 100%;float: left;background: rgba(0,0,0, 0.6);height: 150px;
}
.mewen1 a:link{
	color:#fff;text-decoration:none;
}
.mewen1 a:hover{
	text-decoration: underline;
}
.mewen1 a:visited{
	color:#fff;
}
.mewen1{
	width: 100%;background: rgba(0,0,0, 0.6);height: 35px;float: left;color: #fff;text-align: center;font-size: 18px;padding-top: 7px;
}
.mewen{
	height: 20px;text-align: center;padding-top: 10px;font-weight: bold;font-size: 15px;
}
.jume{
	width: 90%;margin-left: 5%;margin-top: 10px;
}
.center{
	width: 70%;margin-left: 5%;float: left;height: 550px;background: rgba(255,255,255, 0.6);margin-top: 5%;
	position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;  
   overflow: hidden;
}
.title{
	width: 100%;float: left;background: rgba(0,0,0, 0.6);height: 30px;text-align: center;line-height: 30px;font-size: 15px;
}
.res{
	width: 100%;float: left; overflow-y:scroll;height: 400px;
}
.headtitle{
	width: 100%;float: left;height: 40px;padding-bottom: 10px;
}
.mo{
	width: 7%;float: left;height: 50px;background: #94b3de;text-align: left;padding-left: 3%;
}
.mo1{
	width: 40%;float: left;height: 50px;text-align: center;background: #94b3de;line-height: 50px;font-weight: bold;font-size: 15px;
}
.mo2{
	width: 25%;float: left;height: 50px;text-align: center;background: #94b3de;line-height: 50px;font-weight: bold;font-size: 15px;
}
.moo{
	width: 7%;float: left;height: 50px;text-align: left;padding-left: 3%;padding-top: 5px;
}
.moo1{
	width: 35%;float: left;height: 50px;text-align: left;line-height: 50px;font-weight: bold;font-size: 15px;padding-left: 5%;color: #445874;
}
.moo1 a:link{
	color: #445874;text-decoration:none;
}
.moo1 a:hover{
	text-decoration: underline;
}
.moo1 a:visited{
	color: #445874;
}
.moo2{
	width: 15%;float: left;height: 50px;text-align: left;line-height: 50px;font-weight: bold;font-size: 15px;padding-left: 10%;color: #445874;
}
.moo3{
	width: 13%;float: left;height: 50px;text-align: left;line-height: 50px;font-weight: bold;font-size: 15px;padding-left: 12%;color: #445874;
}
.line{
	height: 1px;width: 100%;background: #94b3de;float: left;
}
.foot{
	position:absolute;bottom:0px;width: 100%;height: 50px;text-align: center;
}
.butt{
	height: 30px;border: 1px solid #46576f;background: #46576f;width: 100px;color: #fff;font-size:15px;
}
.butt1{
	height: 30px;border: 1px solid #46576f;background: #46576f;width: 250px;color: #fff;font-size:15px;
}